body{
	background-image:url("../images/back1.jpg");
}

.over {
	margin-left:50%;
	top:450px;
	left:-250px;
	position:absolute;
}

.topbar {
	width:200%;
	height:100px;
	background-image:url('../images/subtop.jpg');
	top:0px;
	position:absolute;
}

.movebar{
	width:200%;
	height:0px;
	background-color:rgba(250,250,250,0.7);
	top:100px;
	position:absolute;
}

.gra {
	width:164px;
	height:1300px;	
	background-image:url('../images/subback.png');
	margin-left:50%;
	left:-500px;
	top:100px;
	position:relative;	
}

#sml {
	
	left:-150px;
	top:-1100px;
	/* position:absolute; */
	position:relative;	
}

#sml2 {
	
	left:-25px;
	top:-1200px/* 150px */;
/* 	position:absolute; */
	position:relative;
}

section .wrap2 {
	margin:0 auto;
	width:1000px;
	height:100%;
}

.menu {
	margin-left:50%;
	top:250px;
	left:-600px;
	position:absolute;
}

.menu li{
	text-align:right;
	font-size:22px;
	font-weight:bold;
	margin:15px;
}

.menu li a:link{
	text-align:right;
	font-size:22px;
	font-weight:bold;
	color:#333;
	}

.menu li a:hover{
	text-align:right;
	font-size:22px;
	font-weight:bold;
	color:#ff0000;
	}

.popimg1 {
	margin-left:50%;
	top:150px;
	left:-280px;
	position:absolute;	
}

.popimg2 {
	margin-left:50%;
	top:180px;
	left:30px;
	position:absolute;	
}

.popimg3 {
	margin-left:50%;
	top:230px;
	left:200px;
	position:absolute;	
}

.popimg4 {
	margin-left:50%;
	top:135px;
	left:350px;
	position:absolute;	
}

.popimg5 {
	margin-left:50%;
	top:335px;
	left:-10px;
	position:absolute;	
}

.popimg6 {
	margin-left:50%;
	top:520px;
	left:-230px;
	position:absolute;	
}

.popimg7 {
	margin-left:50%;
	top:150px;
	left:-280px;
	position:absolute;	
}

.popimg8 {
	margin-left:50%;
	top:230px;
	left:10px;
	position:absolute;	
}

.popimg9 {
	margin-left:50%;
	top:150px;
	left:200px;
	position:absolute;	
}

.popimg10 {
	margin-left:50%;
	top:150px;
	left:450px;
	position:absolute;	
}

.popimg11 {
	margin-left:50%;
	top:450px;
	left:-270px;
	position:absolute;	
}

.popimg12 {
	margin-left:50%;
	top:500px;
	left:-30px;
	position:absolute;	
}

.popimg13 {
	margin-left:50%;
	top:730px;
	left:-270px;
	position:absolute;	
}

.popimg14 {
	margin-left:50%;
	top:150px;
	left:-280px;
	position:absolute;	
}

.popimg15 {
	margin-left:50%;
	top:230px;
	left:-40px;
	position:absolute;	
}

.popimg16 {
	margin-left:50%;
	top:150px;
	left:150px;
	position:absolute;	
}

.popimg17 {
	margin-left:50%;
	top:150px;
	left:400px;
	position:absolute;	
}

.popimg18 {
	margin-left:50%;
	top:450px;
	left:-270px;
	position:absolute;	
}

.popimg19 {
	margin-left:50%;
	top:500px;
	left:-30px;
	position:absolute;	
}

.popimg20 {
	margin-left:50%;
	top:730px;
	left:-270px;
	position:absolute;	
}



.map {
	width:950px;
	height:450px;
	margin-left:50%;
	top:850px;
	left:-270px;
	position:absolute;	
	border:2px solid #131d27;
}



.backu{
	width:200%;
	height:421px;
	background-image:url('../images/back5-1.jpg');
	left:-500px;
	top:-70px;
	position:absolute;
}

.backd{
	width:200%;
	height:123px;
	background-image:url('../images/back4-1.jpg');
	left:-500px;
	top:1260px;
	position:absolute;	
}


.logo {
	margin-left:50%;
	left:-690px;
	top:10px;
	position:absolute;		
}




#gnb{width:950px; height:60px; margin-left:-330px; top:35px; left:50%;  position:absolute;}

footer {
	width:1100px;
	height:100px;
	margin-left:50%;
	/*top:1700px;*/
	left:-550px;
	position:absolute;
	font-family:"돋움";
	font-size:13px;
	font-weight:bold;
	color:#ddd;
}

.foot {
	width:20000%;
	height:100px;
	background:#131d27;
	left:-10000%;
	position:absolute;	
}


.add {
	/* margin-left:50%; */
	left:100px;
	top:40px;
	position:relative;	
}

.footimg {
	/* margin-left:50%; */
	left:800px;
	/* top:px; */
	position:relative;
}



